:root {
    color:          #1A1A1A;
    font-size:      16px;
    font-family:    'Muli';
    
    --white:            #F5F5F5;
    --grey:             #30343E; /* 30343E */
    --bg-primary:       #131132;
    --fg-primary:       #1E1E3C;
    --accent:           #FC2E7E;
    --accent-secondary: #20B4FE;
    
    --card-gradient:      linear-gradient(180deg, 
                        rgba(19,17,50,1) 0%, 
                        rgba(30,30,60,1) 50%);
    
    --bg-gradient:      linear-gradient(180deg, 
                        rgba(16,18,21,1) 0%, 
                        rgba(25,25,30,1) 50%);
    
    --border-radius:    20px;
}

* {
    padding: 0;
    margin: 0;
    font-size:      16px;
}

.container {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.background {
    background: var(--bg-primary);
    background: var(--bg-gradient);
    color: var(--white);
}

.card {
    border-radius: var(--border-radius);
    background: var(--fg-primary);
    color: var(--white);
    padding: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: inline-block;
    width: 30%;
}

.card-media {
    width: 100%;
}

.card p {
    margin-top: 10px;
    overflow: hidden;
}

.card .img-left {
    border-radius: 50%;
    width: 5rem;
    vertical-align: middle;
    justify-content: flex-start;
    margin-right: 1rem;
    float: left;
}

.card .img-top {
    border-radius: 50%;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.accent-primary {
    border-radius: var(--border-radius);
    background-color: var(--accent);
    padding: 2px;
}
.accent-secondary {
    border-radius: var(--border-radius);
    background-color: var(--accent-secondary);
    padding: 2px;
}

.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    padding: 1rem;
    border-image-source: linear-gradient(to left, var(--accent), var(--accent-secondary));
}

.button {
    min-width: 5rem;
    height: auto;
    border: 0;
    color: var(--white);
    padding: 10px;
    transition: 800ms ease;
}

.button:hover {
    background-color: var(--accent-secondary);
}

/** Nav bar **/
.navbar {
    position: fixed;
    background-color: var(--accent);
    transition: width 400ms ease;
}
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-item {
    width: 100%;
}
.nav-item:last-child {
    margin-top: auto;
}
.nav-item:hover {
    color: var(--white);
    background-color: var(--bg-primary);
}
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    color: var(--text-primary);
    transition: 400ms ease;
}
.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
    background-color: var(--bg-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}
.nav-link svg {
    fill: white;
    min-width: 2rem;
    margin: 0 1.5rem;
}
.logo svg {
    margin: 0 1.5rem;
    width: 2rem;
    height: auto;
    transform: rotate(0deg);
    transition: transform 500ms;
}
.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

/* Header */

header {
    
     background: linear-gradient(to left, #313131, var(--grey));
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    border-bottom-right-radius: 50px;
    display: flex;
}


header .title {
    font-size: 3rem;
    vertical-align: middle;
    align-content: flex-start;
    float: left;
    
    text-shadow: 0 0 100px var(--accent-secondary);
    
}
.search {
    float: right;
    margin-bottom: auto;
    width: 40%;
    height: 28px;
    margin-top: 8px;
    border-radius: 30px;
    border-style: none;
    background-color: #20242A;
    box-shadow: 2px 0 var(--accent);
    color: white;
    padding: 5px;
}

header .options {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}

header .options .btn {
    text-align: center;
    width: 33%;
    padding: 1rem;
    background-color: var(--bg-secondary);
    transition: 400ms ease;
}

header .options .btn:hover {
    box-shadow: 0 4px grey;
}

header .options .active {
    box-shadow: 0 4px grey;
}

.content {

    background-color: var(--grey);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 1000px;
    padding: 10px;
    
}


/* Mobile nav */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    .logo {
        display: none;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link {
        justify-content: center;
    }
    main {
        margin: 0;
        margin-bottom: 6rem;
    }
    
    :root {
        font-size: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .title {
        display: block;
        width: 100%;
    }
    .search {
        float: left;
        width: 100%;
    }
    header {
        padding: 2rem;
    }
}

@media only screen and (max-height: 400px) {
    header {
        padding: 1rem;
    }
    header .title {
        font-size: 24px;
    }
    .search {
        height: 10px;
        padding: 10px;
        margin: 0px;
        font-size: 12px;
    }
}

/* Large screen */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 1rem;
        height: 100vh;
    }
    .navbar:hover {
        width: 16rem;
        background-color: var(--fg-primary);
        border-right: 1rem solid var(--accent);
    }
    .navbar:hover .link-text {
        display: block;
    }
}

